<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
    <style>
    .my-list{
    background-color: #0df50d;
    padding: 8px 24px;
    width: 700px;
    font-size: 30px;
    border: 1px solid #0df50d;
    box-shadow: 0 0 10px 2px #333333;
    margin: auto;
}
ol{
    margin: 12px;
}
p{
    text-align: center;
}
    </style>
<body>
    
        

        <div class="my-list">
            <h1> Hello there, this is a site to calculate tax.</h1>
            <p>you can put the price and we will calculate it for you by typing the price</p>
            <p>or you can see the tax rate by typing "taxrate"</p>
          
        </div>
	
    
</body>
</html>
